<div class="cleverreach">
    <div class="cleverreach__errors">
        <f:validation.results>
            <f:if condition="{validationResults.flattenedErrors}">
                <div class="validation-results">
                    <f:for each="{validationResults.flattenedErrors}" key="propertyName" as="errors">
                        <ul>
                            <f:for each="{errors}" key="label" as="error">
                                <li>
                                    <f:translate id="{error.code}" source="ValidationErrors"
                                                 package="KaufmannDigital.CleverReach">{error.message}
                                    </f:translate>
                                </li>
                            </f:for>
                        </ul>
                    </f:for>
                </div>
            </f:if>
        </f:validation.results>
    </div>

    <f:if condition="{node.properties.useAjax}">
        <f:then>
            <f:render section="ajax" />
        </f:then>
        <f:else>
            <f:render section="standard" />
        </f:else>
    </f:if>

</div>

<f:section name="standard">
    <f:form action="subscribe" method="post" class="cleverreach__form">
        <div class="row">
            <div class="col-xs-8">
                <f:form.textfield name="receiverData[email]" placeholder="{f:translate(id: 'email.placeholder', source: 'RegistrationForm')}"/>
            </div>
            <div class="col-xs-4">
                <f:form.hidden name="receiverData[source]" value="{sourceUrl}"/>
                <f:form.hidden name="receiverData[groupId]" value="{node.properties.groupId}"/>

                <f:form.submit value="{f:translate(id: 'submit.value', source: 'RegistrationForm')}"/>
            </div>
        </div>

        <br>
        <label>
            <f:form.checkbox name="receiverData[privacy]" value="Y"/>
            <span>Hiermit erkläre ich mich einvestanden, dass meine in das Formular eingegebenen Daten elektronisch gespeichert, verarbeitet und genutzt werden. Mir ist bekannt, dass ich meine Einwilligung jederzeit widerrufen kann.</span>
        </label>
    </f:form>
</f:section>


<f:section name="ajax">
    <form action="{f:uri.action(action: 'subscribe', controller: 'Ajax', package: 'KaufmannDigital.CleverReach', useParentRequest: true, absolute: true)}" method="post" class="cleverreach__form cleverreach__form--ajax">
        <div class="row">
            <div class="col-xs-8">
                <input class="rounded" type="text" name="receiverData[email]" placeholder="{f:translate(id: 'email.placeholder', source: 'RegistrationForm')}" />
            </div>
            <div class="col-xs-4">
                <input class="button primary" type="submit" value="{f:translate(id: 'submit.value', source: 'RegistrationForm')}"/>
            </div>
        </div>
        <br>
        <label>
            <input type="checkbox" name="receiverData[privacy]" value="Y">
            <span>Hiermit erkläre ich mich einvestanden, dass meine in das Formular eingegebenen Daten elektronisch gespeichert, verarbeitet und genutzt werden. Mir ist bekannt, dass ich meine Einwilligung jederzeit widerrufen kann.</span>
        </label>

        <input type="hidden" name="receiverData[source]" value="{sourceUrl}"/>
        <input type="hidden" name="receiverData[groupId]" value="{node.properties.groupId}"/>
        <input type="hidden" name="registrationForm" value="{node.contextPath}"/>
    </form>
</f:section>
